[Desktop Entry]
Type=Application
Name=Squaero
GenericName=Database client
GenericName[es]=Cliente de bases de datos
Comment=Modern, lightweight, multi-engine database client
Comment[es]=Cliente de bases de datos moderno, ligero y multi-motor
Exec=squaero
Icon=squaero
Terminal=false
Categories=Development;Database;
Keywords=sql;database;mysql;postgresql;sqlite;informix;mongodb;sqlserver;query;
StartupWMClass=squaero
